p#pe {
    color: red;
    font-size: 22pt;
}

p#gruby_nowak {
    color: green;
    font-size: 17pt;
    font-weight: bold;
}
#dlawszyskich_nowak
{
    color: yellow;
    font-size: 10pt;
    font-family: Arial, sans-serif;
}